body {
    margin: 0;
}

ul {
    list-style-type: none;
}

.header-oi {
    background-color: $color__white;
    &.pink {
        background-color: $color__pink;
        @include colorLogoOi($color__pink, $color__white);
    }
    &.purple {
        background-color: $color__purple;
        @include colorLogoOi($color__purple, $color__white);
    }
    & .menu__logo {
      margin-top: 0;
        margin-right: 3%;
        @media only screen and (min-width: 0px) and (max-width: 450px) {
            position: absolute;
            left: 0;
            top: rem(-9);
        }
        svg {
            width: rem(110);
            display: block;
            @media only screen and (min-width: 0px) and (max-width: 450px) {
              width: rem(55);
            }

            @media only screen and (min-width: 450px) and (max-width: 1366px) {
              width: rem(60);
            }

             @media only screen and (min-width: 1367px) and (max-width: 1280px) {
              width: rem(40);
            }

            @media only screen and (min-width: 1281px) and (max-width: 1920px) {
              width: rem(75);
            }


        }
    }
    & .box__title {
      border-top: rem(1) solid rgba(34,34,34,.13);
      border-bottom: rem(1) solid rgba(34,34,34,.13);
        & .headerTitle {
            font-family: $font__heading;
            font-size: rem(60);
            font-weight: initial;
            padding: rem(7) 0 rem(25);
            text-align: left;

            @media only screen and (min-width: 0px) and (max-width: 450px) {
                font-size: rem(25);
                padding: rem(0) 0 rem(0);
                
            }

            @media only screen and (min-width: 450px) and (max-width: 1280px) {
                font-size: rem(35);
                padding: rem(0) 0 rem(0);
                
            }

            @media only screen and (min-width: 1281px) and (max-width: 1920px) {
                font-size: rem(35);
                padding: rem(0) 0 rem(0);

                
            }


            &.pink {
                color: $color__white;
            }
            &.purple {
                color: $color__white;
            }
        }
    }
    & .container {
        @include gridContainer();
        height: rem(190);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
        @media only screen and (min-width: 0px) and (max-width: 450px) {
            height: rem(80);
        }

        @media only screen and (min-width: 981px) and (max-width: 1500px) {
            height: rem(100);
        }

        @media only screen and (min-width: 450px) and (max-width: 1280px) {
            height: rem(120);
        }
    }
    & .menu {
        & .menu__items {
            align-items: center;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            position: relative;
            width: 100%;
            padding-left: 0;
            &.pink {
                @include linkThemeHeader($color__white);
            }
            &.purple {
                @include linkThemeHeader($color__white);
            }

            @media only screen and (min-width: 0px) and (max-width: 450px) {
                justify-content: flex-end;
            }

            & .menu__item__primary {
                margin-top: 0;
                @include linkStyle();
                margin-right: 3.3%;
                @media only screen and (min-width: 450px) and (max-width: 1900px) {
                    margin-right: rem(25);
                }
                @media only screen and (min-width: 0px) and (max-width: 450px) {
                    display: none;
                }
                & a {
                    color: $color__black;
                    font-family: $font__text--regular;
                    font-size: rem(35);
                    @media only screen and (min-width: 450px) and (max-width: 980px) {
                      font-size: rem(18);
                    }
                    @media only screen and (min-width: 981px) and (max-width: 1280px) {
                      font-size: rem(18);
                    }

                    @media only screen and (min-width: 1281px) and (max-width: 1366px) {
                      font-size: rem(20);
                    }


                    @media only screen and (min-width: 1367px) and (max-width: 1920px) {
                      font-size: rem(20);
                    }
                   
                  
                }
            }
            & .menu__item__secondary {
                @include linkStyle();
                @media only screen and (min-width: 1230px) {
                    margin: rem(5) 3.3% 0 rem(7);
                }

                @media only screen and (min-width: 0px) and (max-width: 980px) {
                    display: none;
                }

                @media only screen and (min-width: 1020px) and (max-width: 1230px) {
                    &.extra-large-up {
                        display: none;
                    }
                    margin: rem(5) rem(30) 0 rem(7);
                }

                 @media only screen and (min-width: 1231px) and (max-width: 1920px) {
                    
                    margin: rem(5) rem(30) 0 rem(7);
                }

                sup {
                    font-size: 75%;
                    text-transform: lowercase;
                    display: inline-block;
                    @media only screen and (min-width: 1920px) {
                        padding-bottom: rem(14);
                    }
                }
                & a {
                    color: $color__black;
                    opacity: 0.7;
                    text-transform: uppercase;
                    font-size: rem(21);
                    font-family: $font__text--regular;
                    letter-spacing: letter-spacing(30);
                    @media only screen and (min-width: 450px) and (max-width: 1280px) {
                      font-size: rem(12);
                    }
                    @media only screen and (min-width: 1281px) and (max-width: 1920px) {
                      font-size: rem(13); 
                    }
                    

                    
                }
            }
            & .menu__item__mobile {
                display: none;
                @media only screen and (min-width: 0px) and (max-width: 450px) {
                    display: block;
                }
                @include linkStyle();
                margin-left: rem(25);
                & a {
                  font-family: $font__text--light;
                    color: $color__black;
                    font-size: rem(20);
                }
            }
            & .menu__item__search {
                display: inline-block;
                position: relative;
                margin-left: rem(20);

                &.pink, &.purple {

                  svg {
                    fill: $color__white;  
                  }
                  
                }

                & .isvg {
                    position: absolute;
                    left: rem(-30);
                    top: rem(2);
                    @media only screen and (min-width: 450px) and (max-width: 1920px) {
                        left: rem(-20);
                    }
                }
                svg {
                    width: rem(18);
                    height: rem(18);
                    fill: $color__purple;
                    @media only screen and (min-width: 450px) and (max-width: 1920px) {
                        width: rem(12);
                        height: rem(12);
                        top: rem(4);
                        position: relative;
                    }
                }
                a {
                    @media only screen and (min-width: 450px) and (max-width: 1920px) {
                        font-size: rem(12);
                    }
                }
                @media only screen and (min-width: 0px) and (max-width: 450px) {
                    display: none;
                }
            }
            & .menu__minha-oi {
              position: absolute;
              right: 0;
                
               

                @media only screen and (min-width: 0px) and (max-width: 450px) {
                    display: none;
                }

                @media only screen and (min-width: 451px) and (max-width: 1280px) {
                  top: rem(-5);
                }

                @media only screen and (min-width: 1281px) and (max-width: 1440px) {
                  top: rem(-5);
                }

                @media only screen and (min-width: 1441px) and (max-width: 1920px) {
                  top: rem(-20);
                }


                a {
                    background-color: $color__purple;
                    color: $color__white;
                    display: block;
                    @include buttonHover(40, 90, 3);

                    &.pink {

                        @include buttonBG(rgba(34, 34, 34, .21));
                        transition: background-color 210ms ease;
                       

                        &:hover {
                            @include buttonBG(rgba(34, 34, 34, .35));
                            transition: background-color 210ms ease;
                            border: none !important;
                        }
                    }
                    &.purple {
                        @include buttonBG(rgba(34, 34, 34, .21));
                        transition: background-color 210ms ease;
                        border: none;
                        &:hover {
                            @include buttonBG(rgba(34, 34, 34, .35));
                            transition: background-color 210ms ease;
                            border: none !important;
                        }
                    }
                }
            }
        }
    }
}
