.modal__Mobile {
    @include modalMobile();

    &.pink {
        background-color: $color__pink;
        @include colorLogoOi($color__pink, $color__white);
    }

    &.purple {
        background-color: $color__purple;
        @include colorLogoOi($color__pink, $color__white);
    }


    & .container {
        position: relative;
        top: rem(15);
        padding-bottom: rem(20);
        display: block;
        border-bottom: rem(1) solid rgba(34, 34, 34, .13);
        margin-bottom: rem(40);
        & .menu__logo {
            .isvg {
                display: block;
                svg {
                    width: rem(65);
                }
                .ameba {
                    fill: $color__white;
                }
                .oi {
                    fill: $color__purple;
                }
            }
            ;
            margin-left: rem(20)
        }
    }
    .menu__submenu__header__close {
        position: absolute;
        right: rem(30);
        top: rem(20);
        opacity: .5;
        .isvg {
            svg {
                width: rem(23);
                height: rem(23);
                fill: $color__white;
            }
        }
    }
}

.menu__submenu__primary {
    @include gridContainer();
    .menu__submenu__primary__item {
        font-family: $font__text--light;
        font-size: rem(40);
        padding-bottom: rem(15);
        a {
            text-decoration: none;
            color: $color__white;
        }
    }
}

.menu__submenu__secondary {
    @include gridContainer();
    padding-top: rem(20);
    border-top: rem(1) solid rgba(34, 34, 34, .13);
    .menu__submenu__secondary__item {
        display: inline-block;
        width: 50%;
        float: left;
        padding-bottom: rem(15);
        a {
            text-decoration: none;
            color: $color__white;
            font-family: $font__text--light;
        }
    }
}
